{% extends "layout/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-danger">🚫 Bạn không có quyền đọc sách này!</h1>
    <p>Vui lòng mua gói đọc để tiếp tục.</p>
</div>
{% endblock %}
