<footer>
    <div class="footer-box">
        <div class="footer-container">
            <div class="footer-section">
                <h4>ReadZone</h4>
                <p>Nền tảng đọc và mua sách online, mang đến kho sách đa dạng cùng trải nghiệm đọc linh hoạt, tiện lợi.
                    Bạn có thể đọc sách trực tuyến mọi lúc, mọi nơi hoặc đặt mua sách in chất lượng với giá ưu đãi.
                <hr>
                <b>ReadZone – Đọc mọi nơi, chạm tri thức</b>.
            </div>
            <div class="footer-section">
                <h4>Liên kết nhanh</h4>
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Sách</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Kết nối với chúng tôi</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/tiendat.2922004"><i class="fab fa-facebook-f"></i></a>
                    <a href="mailto:truongtiendat300@gmail.com"><i class="fab fa-google"></i></a>
                    <a href="https://www.instagram.com/ti3_datrwg/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 ReadZone. All rights reserved.</p>
        </div>

    </div>
</footer>
