
{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.user_role.name == 'ADMIN' or current_user.user_role.name == 'MANAGER' %}
<br><br>
<div class=" justify-content-center align-items-center vh-100">
    <br>
    <div class="container text-center">
        {% if current_user.user_role.name == 'ADMIN'%}
        <h2 class="text-info">Chào {{ current_user.name }} đến với trang Quản Trị Viên !!!</h2>
        {% endif %}
        {% if current_user.user_role.name == 'MANAGER'%}
        <h2 class="text-info">Chào {{ current_user.name }} đến với trang Quản lý kho sách !!!</h2>
        {% endif %}
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Thể loại</th>
                            <th>Số đầu sách</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in cates %}
                        <tr>
                            <td>{{ s[0] }}</td>
                            <td>{{ s[1] }}</td>
                            <td>{{ s[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let data = [];
    let labels = [];
    {% for s in cates %}
        data.push({{ s[2] }});
        labels.push('{{ s[1] }}');
    {% endfor %}
</script>
{% endif %}
{% endblock %}
