{% extends 'layout/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-5 col-6">
<       <img src="{{ book.image }}" class="rounded img-fluid" />>
    </div>
    <div class="col-md-7 col-6">
        <h1>{{ book.name }}</h1>
        <h3 class="text-danger">{{ book.price }} VNĐ</h3>
        <h3 class="text-danger">Tác giả: {{ book.author }}</h3>
        <button class="btn btn-danger" onclick="addToCart({{ book.id }}, '{{ book.name }}', {{ book.price }})">Đặt hàng</button>
    </div>
</div>

{% if current_user.is_authenticated %}
<div class="mt-2">
    <textarea class="form-control" rows="5" id="comment" name="content" placeholder="Nội dung bình luận"></textarea>
    <button class="btn btn-info mt-1" onclick="addComment({{ book.id }})">Bình luận</button>
</div>
{% else %}
<p>Vui lòng <a href="/login?next=/books/{{ book.id }}">đăng nhập</a> để bình luận!</p>
{% endif %}

<ul class="list-group mt-2" id="comments">
    {% for c in comments %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-1">
                <img src="{{ c.user.avatar }}" class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-11">
                <p>{{ c.content }}</p>
                <p class="date">{{ c.created_date }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<script>
    window.onload = function() {
        let dates = document.getElementsByClassName("date");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("vi").fromNow();
    }
</script>
{% endblock %}
