{% extends 'layout/base_worker.html' %}

{% block content %}
<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4 text-primary">Đăng Nhập Nhân Viên</h3>
        <form method="post">
            <div class="form-floating mb-3">
                <input required type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username">
                <label for="username">Tên đăng nhập</label>
            </div>
            <div class="form-floating mb-3">
                <input required type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password">
                <label for="password">Mật khẩu</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Đăng Nhập</button>
        </form>
    </div>
</div>
{% endblock %}