<!-- Trang đăng nhập cho khách hàng -->

{% extends 'layout/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px; border-radius: 15px;">
        <h3 class="text-center text-success mb-4">Đăng nhập</h3>
        <form method="post">
            <div class="form-floating mb-3">
                <input required type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username"/>
                <label for="username">Tên đăng nhập</label>
            </div>
            <div class="form-floating mb-3">
                <input required type="password" class="form-control" id="pwd" placeholder="Mật khẩu" name="password"/>
                <label for="pwd">Mật khẩu</label>
            </div>
            <button type="submit" class="btn btn-success w-100">Đăng nhập</button>
        </form>
    </div>
</div>
{% endblock %}
