{% extends 'layout/base_manager.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Chào mừng {{ user.name }} đến với trang Quản lý kho sách!</h1>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card text-bg-info">
                <div class="card-body text-center">
                    <h5 class="card-title">Quản lý sách</h5>
                    <p class="card-text">Thêm, sửa, và xóa sách trong kho.</p>
                    <a href="/books-management" class="btn btn-light">Truy cập</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-bg-warning">
                <div class="card-body text-center">
                    <h5 class="card-title">Nhập sách</h5>
                    <p class="card-text">Thêm hoặc chỉnh sửa thông tin nhập hàng.</p>
                    <a href="/import_books" class="btn btn-light">Truy cập</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

